web:
    restart: always
    build: .
    ports:
        - "8000:8000"
        - "8080:8080"
    volumes:
        - .:/usr/src/app
    env_file: .env
    links:
        - redis
    command: >
        bash -c "npm prune &&
            npm install --no-bin-links &&
            (grunt &) &&
            cd app && nodemon --debug --harmony_destructuring -L server.js"

redis:
    restart: always
    image: redis:3
    ports:
        - "6379"
