web:
  restart: always
  build: .
  ports:
    - "8000:8000"
    - "8080:8080"
  volumes:
    - .:/usr/src/app
  env_file: .env
  command: >
    bash -c "
      ulimit -s 65500 &&
      ([ ! -d ./node_modules ] && npm install --no-bin-links) ;
      (grunt browserify:dev &) ;
      (grunt &) ;
      (node-inspector --preload false &) ;
      ([ ! -f ./public/vendor.js ] && grunt browserify:vendor_dev) ;
      cd app && nodemon --debug --harmony_destructuring -L server.js"
