<section class="sub-header">
  <h2>
    Software engineer with over <br /><strong>6 years</strong>
    of professional experience
  </h2>
</section>

<section class="language-images">
  <ul class="inline">
    <li>
      <a href="http://facebook.github.io/react/">
        <i class="logo react-logo"></i>
      </a>
    </li>
    <li>
      <i class="logo html5-logo"></i>
    </li>
    <li>
      <i class="logo css3-logo"></i>
    </li>
  </ul>
</section>

<section class="summary">
  <ul class="inline">
    <li>
      <h3>Experience</h3>
      <p>
        Dan started programming in high school, continued through college,
        built amazing business critical tools at Apple, and is now working
        at Shutterfly.
      </p>
      <p>
        <a href="{{cdn '/experience'}}">
          Learn more
          <i class="fa fa-angle-right"></i>
        </a>
      </p>
    </li>
    <li>
      <h3>Focus</h3>
      <p>
        After many years of full stack experience, Dan has more recently been
        focussing on front-end engineering.
      </p>
    </li>
    <li>
      <h3>Passion</h3>
      <p>
        Dan is passionate about building products that people love to use
        powered by maintainable, extendable, and robust code.
      </p>
    </li>
  </ul>
</section>
